<div class="cover align-items-center justify-content-center">
  <div class="text-center text-white">
    <h1>Save any kind of movies</h1>
  </div>
</div>

<% @lists.each do |list| %>
  <p><%= list.id %>. <%= link_to list.name, list_path(list) %></p>
<% end %>
