<div class="navbar px-3 py-1" data-controller="navbar" data-action="scroll@window->navbar#updateNavbar">
  <a href="/lists"><i class="fa-solid fa-clapperboard"></i></a>

  <div>
    <ul class="navbar-nav me-auto">
      <li><a href="/lists/new"><i class="fa-solid fa-plus me-1"></i></a></li>
      <li><%= link_to "New Movie List", new_list_path, class: "nav-link" %></li>
    </ul>
  </div>
</div>
