.cards {
  background-size: cover;
  height: 320px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 22px;
  font-style: italic;
}
.list-bg {
  height: 65vh;
  font-style: normal;
  max-height: 400px;
}
